/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/fin-udm.autobil.bin
/fin-udm.autogen.hfst
/fin-udm.automorf.hfst
/fin-udm.lrx.bin
/fin-udm.mode
/fin-udm.rlx.bin
/fin-udm.t1x.bin
/fin-udm.t2x.bin
/fin-udm.t3x.bin
/install-sh
/missing
/modes
/udm-fin.autobil.bin
/udm-fin.autogen.hfst
/udm-fin.automorf.hfst
/udm-fin.lrx.bin
/udm-fin.mode
/udm-fin.rlx.bin
/udm-fin.t1x.bin
/udm-fin.t2x.bin
/udm-fin.t3x.bin
