* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-fin-udm.fin-udm.dix -text
/apertium-fin-udm.fin-udm.lrx -text
/apertium-fin-udm.fin-udm.rlx -text
/apertium-fin-udm.fin-udm.t1x -text
/apertium-fin-udm.fin-udm.t2x -text
/apertium-fin-udm.fin-udm.t3x -text
/apertium-fin-udm.fin.lexc -text
/apertium-fin-udm.fin.twol -text
/apertium-fin-udm.udm-fin.lrx -text
/apertium-fin-udm.udm-fin.rlx -text
/apertium-fin-udm.udm-fin.t1x -text
/apertium-fin-udm.udm-fin.t2x -text
/apertium-fin-udm.udm-fin.t3x -text
/apertium-fin-udm.udm.lexc -text
/apertium-fin-udm.udm.twol -text
/autogen.sh -text
/configure.ac -text
/fin-udm.prob -text svneol=unset#unset
/modes.xml -text
text/fin.txt -text
text/udm.txt -text svneol=unset#application/octet-stream
/udm-fin.prob -text svneol=unset#unset
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
